{% extends 'base.html' %}

{% block content %}

<div class="row">
    <a class="btn btn-default">Weekly</a> 
    <a class="btn btn-default">List</a>
    <div class="pull-right"> Logged in as {{customer.email}} </div>
</div>

<!-- Centered Calender Headers -->
<h3 class="text-center">Schedule an appointment with</h3>
<h2 class="text-center">{{coach.display_name}}</h2>

{% if offset > 0 %}
<a href='{{url_for("appointment_page", customerid=customer._id, offset=offset-1)}}'>&lt;&lt;Previous Week</a>
{% endif %}
<a class='pull-right' href='{{url_for("appointment_page", customerid=customer._id,
offset=offset+1)}}'>Next Week&gt;&gt;</a>
<table class="table">
    <thead>
        <tr>
            <th>Appointment Time</th>
            {% for day in days %}
                <th>{{day.display_date}}</th>
            {% endfor %}
        </tr>
    <tbody>
        {% for hour in days.0.display_times_as_timezone(customer.tzname)%}
            <tr>
                <td>{{hour}}</td>
                {% set slot = loop.index - 1%}
            
                {% for day in days %}
                    {% if day.available(slot) %}
                        <td><a href='{{url_for('book', customer=customer._id, _id=day._id, slot=slot)}}'>Book Now!</a></td>
                    {% elif day.booked_by(slot, customer._id) %}
                        <td><a href='{{url_for('unbook', customer=customer._id, _id=day._id, slot=slot)}}'>Unbook</a></td>
                    {% else %}
                        <td class="text-muted">Unavailable</td>
                    {% endif %}
                {% endfor %}
            </tr>
                            {% endfor %}
    </tbody>
</table>


<div class="row">
    {% if customer.tzname != coach.tzname %}
    <a href="/help/timezone">Why isn't my coach available at 9am?</a>
    {% endif %}
    <a class="pull-right" href="/help">Need help?</a>
</div>

{% endblock %}

