{% extends 'base.html' %}

{% block content %}

<div class="row">
<a class="btn btn-default">Weekly</a> 
<a class="btn btn-default">Monthly</a> 
<a class="btn btn-default">List</a>
<div class="pull-right"> Logged in as {{customeremail}} </div>
</div>

<!-- Centered Calender Headers -->
<h1 class="text-center">{{coachname}}</h1>
<h3 class="text-center">Availability for {{month}} {{year}}</h3>

{% if offset > 0 %}
<a href='{{url_for("appointment_page", customer_id=customer_id,
offset=offset-1)}}'>Previous Week</a>
{% endif %}
<a href='{{url_for("appointment_page", customer_id=customer_id, offset=offset+1)}}'>Next Week</a>
<table class="table">
    <thead>
        <tr>
            <th>Appointment Time</th>
                {% for dayobj in days %}
                <th>{{dayobj.display_date}}</th>
                {% endfor %}
        </tr>
    <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{hour}}</td>
                {% set slot = loop.index - 1%}
            
                {% for dayobj in days %}
                    {% if not dayobj.slots[slot] %}
                    <td><a href='{{url_for('book', coach_id=coach_id,
                    customer_id=customer_id, year=dayobj.year, month=dayobj.month,
                     day=dayobj.day, slot=slot)}}'>Book Now!</a></td>
            {% elif customer_id==dayobj.slots[slot]%}
                    <td><a href='{{url_for('unbook', coach_id=coach_id,
                    customer_id=customer_id, year=dayobj.year, month=dayobj.month,
                     day=dayobj.day, slot=slot)}}'>Unbook</a></td>
                    {% else %}
                        <td class="text-muted">Unavailable</td>
                    {% endif %}
                {% endfor %}
            </tr>
                            {% endfor %}
    </tbody>
</table>


<div class="row">
    {% if tz_different %}
    <a>Why isn't my coach available at 9am?</a>
    {% endif %}
    <a>Need help?</a>
{% endblock %}
